/docs
# /myapp/AdminDBUtilsConn.py
# /mysite/settings.py
/.idea
/db.sqlite3
/venv/
/__pycache__/
/*.pyc


*.log
*.pot
*.pyc
__pycache__/
*.sqlite3
*.swp
*.swo
*.DS_Store

best_model_intenciones_bert.pth
/media
/trainings
mysite/settings.py


trainings/
paddleocr_models/
/paddleocr_models/
*.pt
*.pth
*.bin
*.safetensors
*.tfevents.*
**/* copy.py
mysite/settings.py
__pycache__/
*.pyc
*.pyo
.env
.venv
.DS_Store
.vscode/


/media/
/trainings/
/mysite/settings.py
