asgiref==3.7.2
channels==4.1.0
Django==5.0
docxtpl==0.19.1
gTTS==2.5.4
matplotlib==3.10.3
numpy==2.3.1
openai==1.93.0
openai_whisper==20240930
opencv_contrib_python==4.11.0.86
opencv_contrib_python_headless==4.8.1.78
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
openpyxl==3.1.2
paddleocr==2.10.0
paddleocr.egg==info
pandas==2.3.0
pdf2image==1.17.0
Pillow==11.3.0
PyJWT==2.8.0
PyJWT==2.10.1
pyodbc==5.2.0
python_dateutil==2.9.0.post0
python_docx==1.1.2
pytz==2023.3.post1
pywin32==309
Requests==2.32.4
scikit_learn==1.7.0
torch==2.5.1+cu121
tqdm==4.67.1
transformers==4.49.0
twilio==9.4.6
whisper==1.1.10
